@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .logo
    margin-right: 3.5rem
  .nav
    &__item
      margin-right: 1.5rem
  .contacts
    &__phone
      margin-right: 1rem
  .swiper-slide
    flex-basis: 100%
    &__text
      flex-basis: 50%
@media screen and ( max-width: 992px )
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
  .section-title
    margin: 0
    margin-bottom: 2rem
    &__text
      max-width: 26rem
  .swiper-slide
    &__text
      flex-basis: 48%
  .control
    margin-top: -30rem
    &__section-title
      margin-bottom: 2.214rem
@media screen and ( max-height: 992px )
  .nav
    &__item
      margin-right: 1rem
  .contacts
    &__phone
      margin-right: 2rem
@media screen and ( max-width: 760px )
  .row
    flex-direction: column
    align-items: center
  .col-50
    width: 100%
  .section-title
    &__word
      &::after
        display: none
  .swiper-slide
    margin-bottom: 1rem
    &__text
      flex-basis: 34%
    &__img
      padding-top: 2.42rem
  // .control
  //   flex-basis: 20%
  .types
    &__card
      margin-bottom: 5rem
  .card
    &__text
      margin-left: 0
  .design
    &__card
      margin-bottom: 5rem
    &::after
      height: 90.65rem
@media screen and ( max-width: 570px )
  .logo
    margin-right: 0
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 1.64rem
  .hero
    &__scroll-down
      display: none
    &__content
      max-width: 26rem
    &__text
      font-size: 1.28rem
      margin-bottom: 2.28rem
    &__button
      display: block
      margin-bottom: 1.85rem
  .section-title
    &__heading
      &--primary
        font-size: 1.57rem
  .swiper-slide
    &__heading
      font-size: 1rem
    &__text
      flex-basis: 45%
    &__heading
      font-size: 1rem
  .control
    background: lighten($dark, 7.06)
    &__text
      color: $light
    &__input
      flex-basis: 100%
      margin-bottom: 4.5rem
      padding: 0.5rem 0
      border-bottom: 1px solid rgba($light, 0.3)
      &::placeholder
        color: $light
      &-group
        flex-basis: 100%
    &__button
      flex-basis: 100%
      font-size: 1.07rem
    &__policy
      color: $light
    &__video
      flex-basis: 100%
      min-height: 21.5rem
  .form
    max-width: 25rem
    &__label
      color: rgba($light, 0.5)
      margin-bottom: 1px
  .design
    background: lighten($dark, 7.06)
    &__section-title
      color: $light
      &__subtitle
        font-size: 1.2rem
    &::after
      display: none
  .footer
    &__title
      font-size: 1.28rem
      line-height: 138%
      margin-bottom: 1.64rem
    &__input
      &__group
      flex-basis: 100%
      max-width: 23rem
    &__map
      height: 25rem
      margin-bottom: 3rem

@media screen and ( max-height: 570px )
  .hero
    &__scroll-down
      display: none
@media screen and ( max-width: 320px )
  .hero
    &__content
      max-width: 30rem
    &__button
      width: 100%
  .contacts
    &__phone
      margin-right: 0
  .projects
    padding-top: 0
  .section-title
    &__text
      font-size: 1rem
      line-height: 158%
    &__subtitle
      font-size: 1.07rem
  .swiper-slide
    &__text
      flex-basis: 50%
  .card
    &__inner::before
      display: none
  .control
    padding-bottom: 0
    &__text
      font-size: 1rem
      line-height: 158%
      margin-bottom: 1.85rem
    &__button
      order: 1
      margin-bottom: -1.8rem
    &__input
      margin-bottom: 4.14rem
      &-group
        flex-basis: 100%
      &--last
        margin-bottom: 2px
  .video
    max-width: 100%
    min-height: 100%
  .policy
    margin-top: 0
    margin-bottom: 4.14rem
  .design
    padding-bottom: 0
  .footer
    background: none
    background-color: lighten($dark, 7.06)
    &__wrap
      width: 100%
      background-color: lighten($dark, 7.06)
      padding: 0
    &__input-group
      flex-basis: 100%
    &__button
      width: 100%
    &__menu
      display: none
    &__group
      order: 1
    &__image
      margin-bottom: 2.71rem
